/* Website Template by freewebsitetemplates.com */
body {
    background: url(../images/bg-body.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.page {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
#header div {
    font-family: Georgia, serif;
    font-size: 16px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#header div p {
    color: #7d7d6f;
    float: left;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0 0 0 20px;
    width: 100%;
}
#header div p a {
    color: #7d7d6f;
    padding: 0 10px 0 5px;
    text-decoration: none;
}
#header div p a:hover {
    color: #c5bfa1;
}
#header div p span {
    background: url(../images/bullet7.png) no-repeat left center;
    background-size: 10%;
    margin: 40px;
    padding: 5px 0 5px 25px;
}
#header a.logo {
    display: block;
    float: left;
    height: 78px;
    margin: 15px 0 0 10px;
    padding: 0;
    width: 469px;
}
#header a.logo img {
    border: 0;
}
#header ul {
    float: right;
    margin: 20px 0 0 30px;
    padding: 50px 0px 0px;
    width: 280px;
}
#header ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 0 -1px 30px;
    width: 139px;
}
#header ul li a {
    color: #77a199;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    /*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),*/
    /*0px 8px 13px rgba(0,0,0,0.1),*/
    /*0px 18px 23px rgba(0,0,0,0.1);*/
    color: rgba(119,161,153, 6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
}
#header ul li a:hover, #header ul li.selected a {
    color: #d7d2b5;
}
#header div.connect {
    background: url("../images/bg-header.gif") repeat-x scroll left top transparent;
    height: 60px;
}
#body .header {
    background: #35352f;
    box-shadow: 0 0 2px #141414;
    border: 1px solid #49473e;
    margin: 15px 0 0 0;
    padding: 4px;
    position: relative;
    -webkit-box-shadow: 0 0 2px #141414;
    -moz-box-shadow: 0 0 2px #141414;
}
#body .header img {
    background: #2b2b24;
    border: 1px solid #635d3b;
    display: block;
    margin: auto;
    padding: 7px;
    width: 98%;
}
#body .header .section {
    background: url(../images/frame.png) no-repeat center center;
    height: 362px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 48px;
    top: 51px;
    width: 252px;
}
#body .header .section h1 {
    color: #dad2a2;
    font-family: Georgia, serif;
    font-size: 27px;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 56px 30px 15px;
    text-align: center;
}
#body .header .section p {
    color: #8ca39f;
    line-height: 30px;
    margin: 0;
    padding: 0 30px;
    text-align: center;
}
#body .header .section p a {
    color: #8ca39f;
}
#body .header .section p a:hover {
    color: #a8c3be;
}
#body .body {
    margin: 0;
    padding: 25px 0 0;
    overflow: hidden;
}
#body .body p {
    border-bottom: 1px solid #4f4f40;
    border-top: 1px solid #4f4f40;
    color: #b1ac91;
    float: left;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    line-height: 33px;
    letter-spacing: 1px;
    margin: 0 2px;
    min-height: 132px;
    padding: 22px 0;
    text-align: center;
    width: 370px;
}
#body .body p a {
    color: #b1ac91;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#body .body p a:hover {
    color: #b1ac91;
}
#body .body img {
    display: block;
    float: left;
    margin: 0;
    padding: 0 15px;
}
#body .footer {
    margin: 0;
    padding: 40px 0 38px;
    overflow: hidden;
}
#body .footer > div {
    /*background: #35352f;*/
    /*box-shadow: 0 0 2px #141414;*/
    border: 1px solid #49473e;
    float: left;
    margin: 0  0 20px 0;
    padding: 4px;
    -webkit-box-shadow: 0 0 2px #141414;
    -moz-box-shadow: 0 0 2px #141414;
    width: 440px;
    background: #2B2B24 repeat top center;
    box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#body .footer > div:first-child {
    margin: 0 40px 0 0;
}
#body .footer > div > div {
    background: #2b2b24;
    border: 1px solid #635d3b;
    margin: 0;
    overflow: hidden;
    padding: 4px;
}
#body .footer div div h2 {
    background: url(../images/bg-heading.jpg) repeat top center;
    border-bottom: 1px solid #505c5a;
    color: #91a4a1;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0.15em;
    margin: 0 3px 1px 2px;
    padding: 9px 0 9px 31px;
    text-transform: none;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.block p {

    background: #2B2B24 repeat top center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow: 10px 10px #888, -10px -10px #f4f4f4, 0px 0px 5px 5px #cc6600;*/
}


#body .footer div div h4 {
    /*background: url(../images/bg-heading.jpg) repeat top center;*/
    /*border-bottom: 1px solid #505c5a;*/
    color: #91a4a1;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.30em;
    margin: 0 0 10px 0;
    padding: 15px 0 10px 5px;
    text-transform: uppercase;
}

#body .footer div div ul {
    float: left;
    margin: 0;
    padding: 0 20px 40px;
}
#body .footer div div ul li {
    background: url(../images/border-dashed.png) repeat-x left top;
    list-style: none;
    padding: 14px 0;
}
#body .footer div div ul li:first-child {
    background: none;
}
#body .footer div div ul li a {
    background: url(../images/bullet.png) no-repeat left center;
    color: #7a7a6d;
    display: block;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 15px;
    width: 180px;
}
#body .footer div div ul li a:hover {
    color: #99998e;
    text-decoration: underline;
}
#body .footer div div div {
    /*padding: 0 4px 0px;*/
}
#body .footer div div div p {
    background: url(../images/border-dashed.png) repeat-x left bottom;
    color: #7a7a6d;
    line-height: 24px;
    /*margin: 0 0 10px;*/
    padding: 5px 0 5px 10px;
}
#body .footer div div div p a {
    color: #7a7a6d;
    text-decoration: none;
}
#body .footer div div div p a:hover {
    color: #99998e;
    text-decoration: underline;
}
#body .footer div div div p:first-child {
    background: none;
}
#content {
    background: #35352f;
    box-shadow: 0 0 2px #141414;
    border: 1px solid #49473e;
    margin: 20px 0 38px;
    padding: 4px;
    -webkit-box-shadow: 0 0 2px #141414;
    -moz-box-shadow: 0 0 2px #141414;
    width: 950px;
}
#content > div {
    background: #2b2b24;
    border: 1px solid #635d3b;
    margin: 0;
    min-height: 1000px;
    overflow: hidden;
    padding: 4px;
}
#content div h1 {
    background: url(../images/bg-heading.jpg) repeat;
    border-bottom: 1px solid #505c5a;
    color: #91a4a1;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0.15em;
    margin: 0;
    padding: 25px 0 25px 20px;
    text-transform: uppercase;
}
#content div h2 {
    color: #b1ac91;
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 26px 0 0 20px;
    text-transform: uppercase;
}

.third-effect .mask {
    opacity: 0.6;
    overflow:visible;
    /*border:100px solid rgba(0,0,0,0.7);*/
    box-sizing:border-box;
    transition: all 0.15s ease-in-out;
    margin: 0px 5px 0 5px;
    position:relative;
}

.third-effect a.info {
    /*position:relative;*/
    top:-10px; /* Center the link */
    opacity: 1;
}

.third-effect:hover .mask {
    opacity: 1;
    transition: opacity 0.20s 0s ease-in-out;
    background: #32322a none repeat scroll center top;
    /*border:100px solid rgba(0,0,0,0.7);*/
}

.third-effect:hover a.info {
    opacity: 1;
    transition-delay: 0.3s;
    transition: opacity 0.5s 0s ease-in-out;
}

#content div h3 {
    color: #b1ac91;
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 30px;
    margin: 0;
    padding: 26px 0 0 20px;
    text-transform: uppercase;
}
#content div h4 {
    color: #b1ac91;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 15px;
    padding: 30px 0 0 20px;
    text-transform: uppercase;

}
#content div p {
    color: #7a7a6d;
    line-height: 30px;
    margin: 0 0 15px;
    padding: 0 20px;
    text-align: justify;
}
#content div p b {
    color: #b1ac91;
    display: block;
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 26px 0 0;
}
#content div p b a {
    color: #b1ac91;
}
#content div p span {
    display: block;
    margin: 0;
    padding: 0;
}
#content div a {
    color: #7a7a6d;
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
}
#content div a:hover {
    color: #99998e;
}
#content div ul {
    margin: 0;
    padding: 0 0 0 20px;
}
#content div ul li {
    background: url(../images/bullet.png) no-repeat 0 14px;
    color: #7a7a6d;
    line-height: 30px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
}
#content div ul li a {
    text-decoration: none;
}
#content div ul li a:hover {
    text-decoration: underline;
}
#content div .contact {
    padding: 30px 0 0 20px;
}
#content div .contact li {
    background: none;
    padding: 0;
}

#content div .section {
    float: left;
    margin: 0;
    padding: 0;
    width: 708px;
}
#content div .section p {
    color: #7a7a6d;
    line-height: 30px;
    margin: 0;
    padding: 0 20px 26px;
    text-align: justify;
}
#content div .sidebar {
    float: left;
    margin: 0;
    padding: 0;
    width: 230px;
}
#content div .sidebar ul, #content div .sidebar h3 {
    padding-left: 10px;
}
#content div .sidebar ul li a {
    text-decoration: none;
}
#content div .sidebar ul li a:hover {
    text-decoration: underline;
}
#footer {
    background: url(../images/bg-footer.gif) repeat-x top center;
    margin: 0;
    overflow: hidden;
    padding: 18px 20px;
}
#footer div {
    float: left;
    margin: 0;
    width: 290px;
}
#footer div span {
    color: #7d7d6f;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    float: left;
}
#footer div a.facebook {
    background: url(../images/icons.png) no-repeat 0 0;
    display: block;
    float: left;
    height: 26px;
    margin: 0 0 0 14px;
    text-indent: -9999px;
    width: 25px;
}
#footer div a.facebook:hover {
    background-position: -43px 0;
}
#footer div a.twitter {
    background: url(../images/icons.png) no-repeat 0 -30px;
    display: block;
    float: left;
    height: 26px;
    margin: 0 0 0 14px;
    text-indent: -9999px;
    width: 38px;
}
#footer div a.twitter:hover {
    background-position: -43px -30px
}
#footer div a.googleplus {
    background: url(../images/icons.png) no-repeat 0 -61px;
    display: block;
    float: left;
    height: 26px;
    margin: 0 0 0 18px;
    text-indent: -9999px;
    width: 26px;
}
#footer div a.googleplus:hover {
    background-position: -43px -61px
}
#footer p {
    color: #525245;
    font-size: 12px;
    height:26px;
    line-height:26px;
    margin: 0;
    padding: 0;
    text-align: right;
}
